
@font-face {
    font-family: "Roboto";
    src: url(./../public/Roboto-Black.ttf);
}
@font-face {
    font-family: "Roboto thin";
    src: url(./../public/Roboto-ThinItalic.ttf);
}
@font-face {
    font-family: "Roboto italic";
    src: url(./../public/Roboto-Light.ttf);
}
*{
    font-family: "Roboto";
}
.center{
    text-align: center;
    padding: 10% 10%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    column-gap: 10px;
}

.costum-card{
    background-color:#1E1E1E;
    box-shadow:0px 0px 15px #1e1e1ebb;
    color:whitesmoke;
    border-color:#1A2027;
    transition: all 500ms;
    display: grid;
    grid-template-columns: 30% 70%;
    text-align: center;
    
}
.costum-card:hover{
    box-shadow: none;
}
.btn{
    color: #1E1E1E;
    border-color: #1E1E1E;
}
.btn:hover{
    color: #1E1E1E;
    border-color: #1E1E1E;
}
div.grid h1{
    font-family: 'Roboto thin';
}
.icon{
    padding-top: 10px;
}
.italic{
    font-family: 'Roboto';
}